#html_content {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
}

#content_wrapper {
     overflow-y: auto;
}


#bottom_corner_text {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: red;
    padding: 5px;
    margin-left: auto;
    margin-right: 10px;
}

  .dir {
  }


  #title {
    font-weight: bold;
    font-size: 1.5em;
   text-align: center;
  }

 
  #date {
    font-weight: bold;
  }

 .image-container {
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
    flex-wrap: wrap;
  }

  .image-wrapper {
    width: calc(20% - 0.5rem);
    margin-bottom: 1rem;
  }

  .image {
    width: 100%;
  }

  .image-caption {
    margin-top: 0.25rem;
    font-size: 0.7em;
  }

.code-block {
    white-space: pre-wrap;
    overflow-x: auto;
}


.content_iframe{
 	width: 100%;
    height: 500px;  /* You can adjust this height as needed */
    border: none;
}






.doc-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    font-family: monospace;
    line-height: 1.5;
    max-width: 1200px;
}

.section-title {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 15px;
}

.section-content {
    font-size: 1em;
    margin: 0;
    max-width: 65ch;
}

.gallery-container {
    grid-column: 1 / -1;
    display: flex;
    gap: 20px;
    margin: 40px;
}

.main-image-container {
    flex: 1;
    position: relative;
}

.main-image {
    width: 100%;
    height: auto;
    display: block;
}

.thumbnails {
    display: grid;
    grid-template-columns: repeat(2, 30px);
    gap: 10px;
    align-content: start;
}

.thumbnail {
    width: 30px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.7;
}

.thumbnail:hover {
    opacity: 1;
}

.thumbnail.active {
    opacity: 1;
}



