@font-face {
    font-family: 'Ubuntu Mono';
    src: url('./font/UbuntuMono-Regular.ttf') format('truetype');
}

html, body {
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Ubuntu Mono', monospace;
    background-color: rgb(0, 0, 0);
}

body {
    display: flex;
}

#dir_tree {
    flex: 0.35;
    font-size:1em;
}

#threejs_scene {
    flex: 1;
}


#html_content {
    flex: 1;
}




@media screen and (max-width: 1100px) {
    #threejs_scene {
        display: none;
    }
    
    #dir_tree {
        flex: 0.5;
    }
    
    #html_content {
        flex: 1;
    }
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
        height: 100vh;
    }
    
    #threejs_scene {
        display: none;
    }
    
    #dir_tree {
        border: none;
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    
    #html_content {
        border: none;
    }
}
